<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid">用户名:</div>
                                <div class="layui-input-inline" style="width: 200px;">
                                  <input type="text" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">分类:</div>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <select name="sex">
                                        <option value="0">请选择分类</option>

                                    </select>
                                </div>
                                <button class="layui-btn layui-btn-blue">查询</button>
                                <button class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                        <a href="{:url('admin/add')}" class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</a>
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col width="200">

                                <col>
                                <col width="200">

                            </colgroup>
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>用户名</th>
                                    <th>用户图片</th>
                                    <th>所属分类</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {volist name="admin" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.username}</td>
                                    <td>
                                        {if $vo.image}
                                        <img src="__UPLOADS__/{$vo.image}" alt="" style="display: block;margin:0 auto;height: 30px;">
                                        {else}
                                        <p class="center"> 暂无图片</p>
                                        {/if}
                                    </td>
                                    <td>超级管理员</td>
                                    <td>{$vo.data|date='Y-m-d h:i:s',###}</td>
                                    <td>
                                            <a href="#" class="layui-btn layui-btn-xs layui-btn-blue">编辑</a>
                                            <a href="#" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
                                    </td>
                                </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__LAYUI__/layui.all.js"></script>
    <script>
  var element = layui.element;
  var table = layui.table;
  var form = layui.form;

    </script>
</body>
</html>