

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/css/view.css"/>
    <link rel="stylesheet" href="__ADMIN__/css/view.css"/>
    <link rel="stylesheet" href="__ADMIN__/css/product.css"/>
    <title></title>
</head>
<body class="layui-view-body">
<form action="" method="post"  enctype="multipart/form-data" class="layui-form" >
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">

                <form class="layui-form layui-card-body" action="">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">基本信息</li>
                            <li>商品主图</li>
                            <li>商品详情</li>
                            <li>属性管理</li>
                            <li>商品规格</li>
                            <li>商品服务</li>
                        </ul>
                        <div class="layui-tab-content" style="height: auto;">
                            <!--基本信息-->
                            <div class="layui-tab-item  layui-show">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">商品分类</label>
                                    <div class="layui-input-block" style="width: 300px;float:left;margin-left:0;">
                                        <select  name="pid" lay-filter="pid">
                                            <option value="0">顶级分类</option>
                                            {volist name="cate" id="vo"}
                                            <option value="{$vo.id}" {if $vo.id==$product.pid}selected{/if}>{$vo.catename}</option>
                                            {/volist}

                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">商品名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title"
                                               placeholder="请输入商品名称(最多不能超过60个字符)"
                                               autocomplete="off"
                                               value="{$product.title}"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="smalltitle"
                                               value="{$product.smalltitle}"
                                               placeholder="请输入活动标题(最多不能超过30个字符)"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">商品标签</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="tag" value="1" title="热销" {if $product.tag=='1'}checked{/if}>
                                        <input type="radio" name="tag" value="2" title="新品" {if $product.tag=='2'}checked{/if}>
                                        <input type="radio" name="tag" value="3" title="促销" {if $product.tag=='3'}checked{/if}>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">推荐类型</label>
                                    <div class="layui-input-block ">
                                        <input {if $product.recommended=='1'}checked{/if} type="radio" name="recommended" value="1" title="首页推荐">
                                        <input {if $product.recommended=='2'}checked{/if} type="radio" name="recommended" value="2" title="分类推荐">
                                        <input {if $product.recommended=='3'}checked{/if} type="radio" name="recommended" value="3" title="详情推荐">
                                        <input {if $product.recommended=='4'}checked{/if} type="radio" name="recommended" value="4" title="购物车推荐">
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">商品摘要</label>
                                    <div class="layui-input-block">
                                        <textarea name="summary" placeholder="请输入商品摘要内容"
                                                  class="layui-textarea">{$product.summary}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!--主图信息-->
                            <div class="layui-tab-item  imageTab"  >
                                <div class="layui-form-item">
                                    <label class="layui-form-label">商品主图</label>
                                    <div class="layui-input-block imageBox">
                                        <input type="file" name="mainimage" class="imageUpload" value="{$product.mainimage}"/>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">详情图片</label>
                                    {for start="0" end="4"}
                                            {if isset($productimg[$i])}
                                            <input type="file" name="othermain[]" class="imageUpload" value="{$productimg[$i]['othermain']}"/>
                                            {else}
                                            <input type="file" name="othermain[]" class="imageUpload" value=""/>
                                            {/if}
                                    {/for}
                                </div>
                            </div>
                            <!--文字详情-->
                            <div class="layui-tab-item">
                                <div class="layui-form-item layui-form-text" style="height: 610px;">
                                    <label class="layui-form-label">文章详情</label>
                                    <div class="layui-input-block">
                                        <textarea id="editor" name="content" placeholder="请输入内容">{$product.content}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!--属性管理-->
                            <div class="layui-tab-item">
                                <div class="kePublic">
                                    <div class="div_title attrTitle"><span>选择属性[商品信息中需选择顶级分类,最多选择2条商品属性]</span></div>
                                    <!--选择基本信息分类后自动获取对应属性-->
                                    <div id="cateAttr">
                                        {volist name="cateAllAttr" id="vo"}
                                            <input lay-filter="checkAttr" class="checkAttr" {if in_array($vo.id,$checkAttrId)}checked{/if} type="checkbox" id="{$vo.id}" val="{$vo.attrvalue}" lay-skin="primary" title="{$vo.attrname}">
                                        {/volist}
                                        <input type="text" class="attrid" name="attr_id" value="{$product.attr_id}"></div>
                                    <!--属性列表-->
                                    <div id="AttrList">
                                        {volist name="cateattr" id="vo" key="k"}
                                            <dl>
                                                <dt>{$vo.attrname}</dt>
                                                <dd>
                                                    {volist name="$vo.attr_value" id="child" }
                                                    <input lay-filter="checkAttrval" {if in_array($child,$checkValue['attr_'.($k-1)])}checked{/if} class="checkAttrval"  type="checkbox" lay-skin="primary" id="{$vo.id}" ptitle="{$vo.attrname}" title="{$child}">
                                                    {/volist}
                                                </dd>
                                            </dl>
                                        {/volist}
                                    </div>
                                    <!--属性表格-->

                                    <div id="creatTable">
                                        <table>
                                            {if $productattr}
                                            <tr>
                                                <th>颜色</th>
                                                <th>内存</th>
                                                <th>价格</th>
                                                <th>库存</th>
                                                <th>编号</th>
                                                <th>备注</th>
                                            </tr>
                                            {/if}
                                            {volist name="$productattr" id="vo"}
                                            <tr>
                                                <td><input type="text" name="attr_0[]" value="{$vo.attr_0}" placeholder="请输入价格" class="layui-input"></td>
                                                <td><input type="text" name="attr_1[]" value="{$vo.attr_1}" placeholder="请输入价格" class="layui-input"></td>
                                                <td><input type="text" name="price[]"  value="{$vo.price}" placeholder="请输入价格" class="layui-input"></td>
                                                <td><input type="text" name="stock[]"  value="{$vo.stock}" placeholder="请输入库存" class="layui-input"></td>
                                                <td><input type="text" name="product_num[]" value="{$vo.product_num}" placeholder="请输入商品编号" class="layui-input"></td>
                                                <td><input type="text" name="remark[]" value="{$vo.remark}"  placeholder="请输入备注信息" class="layui-input"></td>
                                            </tr>
                                            {/volist}
                                        </table>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label">商品价格</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="base_price" value="{$product.price}" placeholder="请输入活动标题(最多不能超过30个字符)" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">市场价格</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="market_price" value="{$product.market_price}" placeholder="请输入活动标题(最多不能超过30个字符)" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--规格管理-->
                            <div class="layui-tab-item ">
                                <div class="specContent">
                                    <div class="layui-form-item" style="clear:both;">
                                        <div class="layui-input-block ">
                                            <input type="button" onclick="addSpec()" class="layui-btn layui-btn-blue" value="添加规格"  style="margin-bottom:0;margin-left:-10px;">
                                        </div>
                                    </div>
                                    {volist name="productspec" id="vo"}
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="margin-left: 100px;">
                                            <input type="text" value="{$vo.specname}" name="specname[]" class="layui-input" placeholder="请输入规格名称">
                                        </div>
                                        <div class="layui-input-inline">
                                            <input type="text" value="{$vo.specvalue}"  name="specvalue[]" class="layui-input" placeholder="请输入规格内容">
                                        </div>
                                        <a href="javascript:;" class="specDelBtn" onclick="specDelBtn(this)">删除规格</a>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                            <!--服务选择-->
                            <div class="layui-tab-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">服务选择</label>
                                    <div class="layui-input-block" >
                                        <!--选择基本信息分类后自动获取对应属性-->
                                        {volist name="service" id="vo"}
                                        <input lay-filter="checkAttrval" {if in_array($vo.id,$checkSevice)}checked{/if} name="service[]"  type="checkbox" value="{$vo.id}" lay-skin="primary"  title="{$vo.title}">
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item" style="clear:both;">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo" >立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
<script src="__LAYUI__/layui.all.js"></script>
<script src="__PUBLIC__/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>
<script>
    var cateUrl='{:url("admin/Product/getAttrByCateId")}';
</script>
<script src="__ADMIN__/js/liandong.js"></script>
</body>
</html>
