<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/css/view.css"/>
    <link rel="stylesheet" href="__ADMIN__/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
<form action="" method="post" class="layui-form" enctype="multipart/form-data">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">添加产品分类</div>
                <form class="layui-form layui-card-body" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级分类</label>
                        <div class="layui-input-block">
                            <select name="pid">
                                <option value="0">顶级分类</option>
                                {volist name="catetree" id="vo"}
                                <option  {if $vo.id==$authrule.pid}selected{/if} value="{$vo.id}">{if $vo.level!=0}|{/if}<?php echo str_repeat('--',$vo['level'])?>{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-block">
                      <input type="text" value="{$authrule.title}" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">链接地址</label>
                        <div class="layui-input-block">
                            <input type="text" value="{$authrule.name}" name="name" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>
                </form>  
            </div>
        </div>
    </div>
</form>
    <script src="__LAYUI__/layui.all.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/upload.js"></script>
    <script>
      var form = layui.form
        ,layer = layui.layer;
    </script>
</body>
</html>