<!--页尾开始-->
<div class="bottom_main">
    <div class="w1200 clearfix" aos="fade-up" aos-easing="ease" aos-duration="700">
        <!--友情链接开始-->
        <div class="links">
            <span>友情链接：</span>
            <a href="#" title="英特网络" target="_blank">英特网络</a>
            <a href="#" title="百度" target="_blank">百度</a>
        </div>
        <!--友情链接结束-->
        <!--底部导航开始-->
        <div class="left bottom_nav">
            <ul class="left">
                <li>
                    <h3><a href="#" title="关于我们">关于我们</a><i></i></h3></li>
                <li>
                    <a href="#" title="企业简介">企业简介</a>
                </li>
                <li>
                    <a href="#" title="企业文化">企业文化</a>
                </li>
                <li>
                    <a href="#" title="荣誉资质">荣誉资质</a>
                </li>
            </ul>
            <ul class="left">
                <li>
                    <h3><a href="#" title="产品展示">产品展示</a><i></i></h3></li>
                <li>
                    <a href="#" title="水产料">水产料</a>
                </li>
                <li>
                    <a href="#" title="特种水产料">特种水产料</a>
                </li>
                <li>
                    <a href="#" title="猪饲料">猪饲料</a>
                </li>
            </ul>
            <ul class="left">
                <li>
                    <h3><a href="#" title="新闻中心">新闻中心</a><i></i></h3></li>
                <li>
                    <a href="#" title="公司新闻">公司新闻</a>
                </li>
                <li>
                    <a href="#" title="行业资讯">行业资讯</a>
                </li>
                <li>
                    <a href="#" title="常见问题">常见问题</a>
                </li>
            </ul>
        </div>
        <!--底部导航结束-->
        <!--联系方式开始-->
        <div class="right bottom_tit">
            <div class="r1">
                <p>
                    <img src="__UPLOADS__/{$sys.weixin}" alt="这里是您的网站名称" /><span>微信扫码 关注我们</span>
                </p>
            </div>
            <div class="r2 fl">
                <ul>
                    <li><img src="__INDEX__/images/tel.png" alt="24小时咨询热线" title="24小时咨询热线">
                        <p>24小时咨询热线<span>+{$sys.mobile}</span></p>
                    </li>
                    <li><img src="__INDEX__/images/phone.png" alt="电话" title="电话">
                        <p>移动电话<span>+{$sys.telphone}</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <!--联系方式结束-->
    </div>
</div>
<!--页尾结束-->