<div class="rightFix">
    <div class="share">
        <a href="javascript:void(0);" class="ico share_tit"></a>
        <div class="box hidden">
            <a href="javascript:;" class="ico share_sqq" title="微信二维码">
                <img src="__UPLOADS__/{$sys.weixin}" alt="这里是您的网站名称" />
            </a>
            <a class="ico share_lt" href="tencent://message/?uin=237831309&Menu=yes" title="QQ"></a>
            <a class="ico fix-tel" href="javascript:;" title="咨询热线"><span class="ftel">+86{$sys.telphone}</span></a>
        </div>
    </div>
    <a href="javascript:void(0);" class="ico fix_top"></a>
</div>